<div class="container my-4 d-flex flex-wrap justify-content-center">
<% @travels.each do |travel| %>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
    <h1><%= travel['destination'] %></h1>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Origem:</strong> <%= travel['origin'] %></li>
      <li class="list-group-item"><strong>Destino:</strong> <%= travel['destination'] %></li>
      <li class="list-group-item"><strong>Ida: </strong><%= DateTime.parse(travel['departure_date']).strftime("%d-%m-%Y %H:%M") if travel['departure_date'] %></li>
      <li class="list-group-item"><strong>Volta: </strong><%= DateTime.parse(travel['return_date']).strftime("%d-%m-%Y %H:%M") if travel['return_date'] %></li>
      <li class="list-group-item"><%= link_to 'Editar', edit_travel_path(travel['id']) %> <%= link_to 'Deletar', travel_path(travel['id']), method: :delete, data: { confirm: 'Ta certo?'} %> </li>
    </ul>
  </div>
<% end %>
</div>


